{{! handlebars html template }}

<html>
  <head>
    <meta charset="UTF-8" />
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header class="container-fluid bg-slate-600 text-white p-5">
      <nav class="space-x-10">
        <a href="https://google.com">Home</a>
        <a href="https://google.com">Dashboard</a>
        <a href="https://google.com">Login</a>
        <a href="https://google.com">Logout</a>
      </nav>
      <div class="logo">The Tech Blog</div>
    </header>
    <main class="container mx-auto">
      {{{body}}}
    </main>

  </body>
</html>