{{! handlebars html template }}

<html>
  <head>
    <meta charset="UTF-8" />
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>

  </head>

  <body>
    <header class="container-fluid bg-slate-600 text-white p-5">
      <nav class="space-x-10">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        {{#if logged_in}}
          <!-- Show logout link only if user is logged in -->
          <a href="/logout" id="logout">Logout</a>
        {{else}}
          <!-- Show login link if user is not logged in -->
          <a href="/login">Login</a>
        {{/if}}
      </nav>
      <div class="logo">{{logoText}}</div>
    </header>
    <main class="container mx-auto">
      {{{body}}}
    </main>
    {{#if logged_in}}
      <script src="./js/logout.js"></script>
    {{/if}}
  </body>
</html>