* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 2px solid rgb(71 85 105);
}

/* Card header styles */
.card-header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  background-color: rgb(71 85 105);
}

.card-header h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.card-header span {
  font-size: 0.9rem;
  color: white;
  font-style: italic;
}

/* Card body styles */
.card-body {
  padding: 16px;
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(71 85 105);
}

.logo {
  margin: 1rem;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #fff;
  color: rgb(71 85 105);
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 5px 5px 0px rgb(145, 166, 196);
}
