:root {
  --primary: rgb(71 85 105);
  --secondary: rgb(145, 166, 196);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 2px solid var(--primary);
}

.card-header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  background-color: var(--primary);
}

.card-header h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.card-header span {
  font-size: 0.9rem;
  color: white;
  font-style: italic;
}

.card-body {
  padding: 16px;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--primary);
}

.comment-card {
  margin-top: 20px;
}

.comment-card .card-header {
  background-color: var(--primary);
  color: white;
}

.comment-field {
  width: 100%;
  resize: vertical;
  border: 2px solid var(--primary);
  padding: 10px;
}

.comment-submit {
  width: 100%;
  margin-top: 10px;
  background-color: var(--primary);
  color: white;
  transition: all 0.3s ease;
}

.comment-submit:hover {
  background-color: var(--secondary);
}

.logo {
  margin: 1rem;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #fff;
  color: var(--primary);
  font-weight: bold;
  box-shadow: 5px 5px 0px var(--secondary);
}
