:root {
  --primary: rgb(71 85 105);
  --secondary: rgb(145, 166, 196);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 2px solid var(--primary);
}

.card-header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  background-color: var(--primary);
}

.card-header h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.card-header span {
  font-size: 0.9rem;
  color: white;
  font-style: italic;
}

.card-body {
  padding: 16px;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--primary);
}

.comment-card {
  margin-top: 20px;
}

.comment-card .card-header {
  background-color: var(--primary);
  color: white;
}

.comment-field {
  width: 100%;
  resize: vertical;
  border: 2px solid var(--primary);
  padding: 10px;
}

.comment-submit {
  width: 100%;
  margin-top: 10px;
  background-color: var(--primary);
  color: white;
  transition: all 0.3s ease;
}

.comment-submit:hover {
  background-color: var(--secondary);
}

.logo {
  margin: 1rem;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #fff;
  color: var(--primary);
  font-weight: bold;
  box-shadow: 5px 5px 0px var(--secondary);
}

/* login styles */
.login-card {
  width: 100%;
  margin: 20px;
}

.login-card .card-header {
  background-color: var(--primary);
  color: white;
}

.login-card .card-body {
  padding: 16px;
}

.login-card .form-group {
  margin-bottom: 15px;
}

.login-card label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-card input[type="text"],
.login-card input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--primary);
}

.login-card button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-card button[type="submit"]:hover {
  background-color: var(--secondary);
}


.new-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px; /* Add padding to top */
}

#new-post-content {
  border: 2px solid var(--primary);
}

#new-post-btn {
  background-color: var(--primary);
  color: white;
  padding: 10px;
  margin: 10px; /* Apply margin to top and bottom */
  display: block; /* Ensure button behaves like a block element */
  width: fit-content; /* Adjust width based on content */
  margin-left: auto; /* Move button to right */
  margin-right: auto; /* Move button to left */
}



